.form {
  width: 100%;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__input {
    margin-top: 20px;
  }

  &__button {
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0 auto;
  }
}

.form {

  &--prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  &--prices &__title {
    width: 100%;
    margin-bottom: 20px;
  }

  &--prices &__column {
    width: 48%;
  }

  &--prices &__label--mt {
    display: block;
    margin-top: 20px;
  }
}